body {
  font-family: "PT Sans Narrow", sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #FCECC9;
}

.classroom-col, .expelled-classroom-col {
  border: 1px solid #2D3047;
}

.card {
  background-color: #55917F;
  color: white;
}

.filter-buttons button {
  font-weight: bold;
  font-size: 1.25rem;
  width: 10rem;
}
.filter-buttons {
  display: flex;
  justify-content: center;
}

.render-students-here, .render-expelled-students-here {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.form-elements {
  display: flex;
  align-items: baseline;
}

.col-3 button {
  width: 6rem;
}
